
<div class="page-title">
    {{title}}
    <!--<div>
        5 new post
        50 active readers
        5000 hits
    </div>-->

    <!--{{id}} {{body}}-->
    <div class="row infobtns">
        <a routerLink="/blog/new" class="btn btn-primary">Write a Blog</a>
    </div>
</div>
<div class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        {{title}}
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            excerpt
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div><div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div><div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div><div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div><div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div><div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div><div class="col-md-4 col-sm-4 col-xs-6">
                <div class="panel">
                    <div class="panel-heading ">
                        #.net  #angular4
                    </div>
                    <div class="panel-body">
                        <img src="../../assets/images/angular.png" alt="Alternate Text" />
                        <div class="blog-title">
                            Angular 4 forms
                        </div>
                        <div class="blog-short-detail">
                            <span class="text-left ab">
                                11 November 2017
                            </span>
                            <span class="text-right ab">
                                <a href="#">Mahesh Sunuwar</a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a routerLink="/blog-read" class="btn btn-success tn-btn tn-btn-pad">Read More</a>
                    </div>
                </div>
            </div>


            <!--<div class="col-md-4 hidden-xs">
                asdf
            </div>-->
        </div>
    </div>
</div>