<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                Angular 4 forms and the authorization
                <!--<div>
                    5 new post
                    50 active readers
                    5000 hits
                </div>-->
                <div class="ms-meta-detail">
                    date 
                    total hits
                    total reading
                </div>
            </div>
            <div class="col-md-3">
                <div class="ms-author">
                    <img src="../../assets/images/backgrounds/supporter.png" height="150" width="150" alt="author name" />
                    <div class="ms-author-name">
                        Mahesh Sunuwar
                    </div>
                    <div class="ms-author-bio">
                        <span>
                            #angular2/4 
                        </span>
                        <span>
                            #front-end
                        </span>
                        <span>
                            #ionic2/3
                        </span>
                        <span>#Learner</span>
                    </div>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                                  <p> This example is using the HTTP module in a small component, that is displaying a list of courses. Let's break down this example step-by-step:
                                      <br />
                    We are using the new HttpClient client module, and injecting it in the constructor
                    then we are calling the get() method, which is returning an Observable
                    This observable returns an Object directly, so the HTTP library by default assumes that we have queried a JSON API and it internally parses the HTTP response body as JSON
                    usually, we design our APIs so that they always send an object and not an array, to avoid an attack known as JSON Highjacking
                    so we need to convert the object into a list, by taking only the object values
                    We are then mapping the response we got from Firebase into an array, using the lodash values utility method
                    this defines an observable named courses$, which is consumed by the template
                    the async pipe will subscribe to the HTTP observable, and it's that implicit subscription that triggers the HTTP request
                    The end result is that the descriptions of all the courses in the database will show up listed on the screen, in a bulleted list.
                                      <br />
                <b>Improved Type Safety</b>
                                      <br />
                    Notice in the call to get() that we are passing a generic parameter: we are specifying that the result of the get() call will be an Observable of Course[], meaning that this observable emits values which are arrays of courses.
                                      
                    If we don't specify a type parameter, then the result of the call to get() will be an Observable instead.
                                      <br />
                    <b> HTTP Request Parameters</b>
                                      <br />
                    The HTTP GET can also receive parameters, that correspond to the parameters in the HTTP url. Let's take for example the following URL with some pagination parameters:

                    https://angular-http-guide.firebaseio.com/courses.json?orderBy="$key"&limitToFirst=1
                    This query will take the same results as before, but this time ordered by the $key property. The first URL parameter that we have in this URL is orderBy, and the second is limitToFirst.

                    This is is how we would do this query using the Angular HTTP Client:
                </p>
            </div>
           
           
            <!--<div class="col-md-4 hidden-xs">
                asdf
            </div>-->
        </div>
    </div>
</div>