<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                Angular 4 forms and the authorization
                <!--<div>
                    5 new post
                    50 active readers
                    5000 hits
                </div>-->
                <div class="ms-meta-detail">
                    date 
                    total hits
                    total reading
                </div>
            </div>
            <div class="col-md-3">
                <div class="ms-author">
                    <img src="../../assets/images/backgrounds/supporter.png" height="150" width="150" alt="author name" />
                    <div class="ms-author-name">
                        Mahesh Sunuwar
                    </div>
                    <div class="ms-author-bio">
                        <span>
                            #angular2/4 
                        </span>
                        <span>
                            #front-end
                        </span>
                        <span>
                            #ionic2/3
                        </span>
                        <span>#Learner</span>
                    </div>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
               working
            </div>
           
           
            <!--<div class="col-md-4 hidden-xs">
                asdf
            </div>-->
        </div>
    </div>
</div>