/*dark*/
/*dark*/
.tn-btn {
  border: none;
  border-radius: 0; }

.tn-btn-pad {
  padding: 10px 40px; }

.btn-primary:hover {
  background-color: #256ca0;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1), 0px 3px 3px 0px rgba(0, 0, 0, 0.1), 0px 3px 3px 0px rgba(0, 0, 0, 0.1); }

.bottom-space {
  margin-bottom: 40px; }

.no-bottom-space {
  margin-bottom: 0; }

.todo-close-btn {
  margin: 0 10px -25px 0;
  position: relative;
  z-index: 1; }

.banner-close-btn {
  margin: 0 10px -25px 0;
  position: relative;
  z-index: 1; }

/*carousel*/
.carousel-control {
  background-image: none; }

.carousel-control .material-icons {
  position: absolute;
  top: 50%; }

.item.ms-slide {
  min-height: 100vh;
  min-width: 100%; }

.carousel-caption {
  bottom: auto; }

.ms-slide.one {
  background: #256CA0;
  position: relative;
  width: 100%;
  top: 0;
  height: 100%; }
  .ms-slide.one .ms-cap {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .ms-slide.one .ms-cap .carousel-caption {
      position: absolute; }
      .ms-slide.one .ms-cap .carousel-caption .ms-cap-heading {
        font-size: 7rem;
        text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.22);
        color: #EAF900; }
      .ms-slide.one .ms-cap .carousel-caption .ms-cap-body {
        font-size: 2rem;
        text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.22);
        color: #256ca0; }
        .ms-slide.one .ms-cap .carousel-caption .ms-cap-body h3 {
          font-size: 5rem;
          padding: 15px 20px;
          background: #EAF900;
          text-shadow: none; }
        .ms-slide.one .ms-cap .carousel-caption .ms-cap-body p {
          color: white; }
          .ms-slide.one .ms-cap .carousel-caption .ms-cap-body p span {
            color: #EAF900; }
      .ms-slide.one .ms-cap .carousel-caption .ms-cap-footer {
        margin-top: 25px; }

.ms-slide.two {
  background: #256CA0; }

.ms-slide.three {
  background: #256CA0; }

/*carousel*/
.sec-title {
  text-transform: uppercase;
  text-align: center;
  color: #256ca0;
  font-weight: 500;
  font-size: 2.5rem; }

.sec-hr {
  text-align: center;
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #256ca0; }

#whowe {
  /*background-color:$yellow;*/
  background-image: url(../../assets/images/backgrounds/greenblue.png);
  background-position: center;
  background-size: cover;
  /*transform:rotate(-15deg) translate(a);*/ }
  #whowe .whowe-content {
    padding-bottom: 20px;
    /*transform:rotate(15deg);*/ }
    #whowe .whowe-content .whowe-detail {
      text-align: center;
      font-weight: lighter;
      font-size: 2rem;
      text-align: justify;
      text-align-last: center; }
      #whowe .whowe-content .whowe-detail a {
        margin-top: 10px;
        text-align: center; }

/*who we*/
/*whatwe*/
#whatwe {
  background: #53a025;
  padding: 15px 0;
  min-height: 100%; }
  #whatwe .sec-title {
    color: white; }
  #whatwe .sec-hr {
    border-color: white; }
  #whatwe .whatwe-content .descript {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative; }
    #whatwe .whatwe-content .descript:before {
      content: '';
      border: 1px solid red; }
    #whatwe .whatwe-content .descript .descriptbox {
      height: 100px;
      width: 100px;
      border-radius: 5px;
      margin-left: 15px;
      padding: 15px;
      padding-bottom: 0;
      background: #079007;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /*border: 1px solid white;*/
      z-index: 2; }
      #whatwe .whatwe-content .descript .descriptbox:not(:first-child) {
        margin-left: 10px; }
      #whatwe .whatwe-content .descript .descriptbox .learn {
        background: url(../../assets/images/backgrounds/open-book.svg);
        background-repeat: no-repeat;
        padding: 25px;
        filter: invert(90%);
        /*//filter:drop-shadow(16px 16px 20px black);*/ }
      #whatwe .whatwe-content .descript .descriptbox .share {
        background-repeat: no-repeat;
        padding: 25px;
        background: url(../../assets/images/backgrounds/share.svg);
        filter: invert(90%); }
      #whatwe .whatwe-content .descript .descriptbox .collab {
        background-repeat: no-repeat;
        padding: 25px;
        background: url(../../assets/images/backgrounds/network.svg);
        filter: invert(90%); }
      #whatwe .whatwe-content .descript .descriptbox .repeat {
        background-repeat: no-repeat;
        padding: 25px;
        background: url(../../assets/images/backgrounds/refresh.svg);
        filter: invert(90%); }
      #whatwe .whatwe-content .descript .descriptbox p {
        font-size: 2rem; }
    #whatwe .whatwe-content .descript .hr {
      position: absolute;
      min-width: 50%;
      bottom: 30%;
      border-top: 2px solid white; }

/*joinus*/
#joinus {
  padding: 20px;
  background-color: #53a025;
  /*// background:url(../images/backgrounds/sunrise.jpeg);*/
  background-position-y: 50%;
  margin-bottom: -30px;
  min-height: 180px;
  display: flex;
  align-items: center; }
  #joinus .content {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: white;
    /*span{
            padding:10px 15px;
            background:$yellow;
        }*/ }
    #joinus .content button {
      margin-top: 10px; }

/*joinus*/
/*supporter*/
#supporters .sup-content .content-title {
  font-size: 3rem; }

#supporters .sup-content .content-body {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #supporters .sup-content .content-body a {
    margin: 0 15px;
    margin-bottom: 15px;
    flex-basis: auto;
    text-decoration: none; }
    #supporters .sup-content .content-body a img {
      height: 150px;
      border-radius: 50%; }
    #supporters .sup-content .content-body a .name {
      text-align: center;
      font-size: 2rem;
      color: #53a025;
      padding-top: 10px; }
      #supporters .sup-content .content-body a .name:hover {
        color: rgba(0, 0, 0, 0.5); }

/*supporter*/

